.item1{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gridcontainer{
    display: grid;
    grid-template-columns: auto 333px 333px 333px auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    position: absolute;
    width: 100%;
}

body{
    margin: 0;
}

.item2 img{
    width: 100%;
}

.item2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
}

.item3{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.item4{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.item5{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}